<div class="accepted__list">
    <mat-card *ngFor="let lead of leads" appearance="outlined">
        <mat-card-header>
            <div class="accepted__avatar" mat-card-avatar>{{ lead.contactFirstName.slice(0,1) }}</div>
            <mat-card-title>{{ lead.contactFullName }}</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-divider class="accepted__divider"></mat-divider>
        <mat-card-content>
            <div class="accepted__content-row spaccing">
                <span class="accepted__info-row">
                    <mat-icon style="margin-right: 12px;">pin_drop</mat-icon> {{ lead.suburb }}
                </span>
                <div class="accepted__info-row">
                    <mat-icon style="margin-right: 12px;">business_center</mat-icon> {{ lead.category }}
                </div>
                <span>
                    Job ID: {{ lead.id }}
                </span>
                <span>
                    {{ lead.price | currency }} Lead Invitation
                </span>
            </div>
            <mat-divider class="accepted__divider"></mat-divider>
            <div class="accepted__content-row spaccing">
                <a [href]="'tel:' + lead.contactPhone" class="accepted__info-row accepted__link">
                    <mat-icon style="margin-right: 12px;">phone</mat-icon> {{ lead.contactPhone }}
                </a>
                <a [href]="'mailto:' + lead.contactEmail" class="accepted__info-row accepted__link">
                    <mat-icon style="margin-right: 12px;">email</mat-icon> {{ lead.contactEmail }}
                </a>
            </div>
            <div class="accepted__content-row">
                <strong>Description:</strong> &nbsp;{{ lead.description }}
            </div>
        </mat-card-content>
    </mat-card>
</div>