<main class="main">
  <mat-tab-group class="main__tab-group">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right: 12px;">add_circle</mat-icon>
        Invited
      </ng-template>
      <app-invited-leads [leads]="leads" (leadUpdated)="updateLeads($event)"></app-invited-leads>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right: 12px;">check_circle</mat-icon>
        Accepted
      </ng-template>
      <app-accepted-leads [leads]="leads"></app-accepted-leads>
    </mat-tab>
  </mat-tab-group>
</main>
<router-outlet />
